/*erst den Begriff (Selektor) nennem, dann {} !!!*/

* {
  box-sizing: border-box;
}
/*Body soll keine Margin haben*/

body {
  margin: 0px;
  max-width: 100%;
}
html {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-size: 100%; /*Prozentwert bezieht sich auf Einstellung im Browser  / Standard 16px*/
}

/*Liste soll Schwarz große Buchstaben haben*/
a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}
/*keine Aufzählungszeichen*/
ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

/*Menü-Knopf soll weiß sein und ohne Rahmen*/

button {
  background-color: transparent;
  border: none;
}
/*hier rede ich mit kleinem Bildschirm*/
nav {
  display: none;
}

.show,
.pflicht,
.social-media {
  display: block;
}

header {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
}
li {
  margin: 10px;
}

#hero {
  background-image: url(img/intro.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: white;
  border: 1px solid #374a67;
  border-radius: 5px;
  color: #374a67;
  padding: 16px;
  font-weight: normal;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  /*Farbwechsel im Verlauf*/
  transition: all 0.4s ease;
}
/*Pseudoselektor, wenn man mit der Maus darüberschwebt*/
.button:hover {
  background-color: #374a67;
  color: white;
}

/*Button invert*/
.invert {
  background-color: #374a67;
  color: white;
  display: block;
  text-align: center; /*text-align könnte hier wegfallen, da es für Klasse card definiert ist*/
}

/*Pseudoselektor, wenn man mit der Maus darüberschwebt*/
.invert:hover {
  background-color: white;
  color: #374a67;
}

/*responsive mitwachsende Bilder für alle Bilder, die in der Klasse Bild liegen*/
.bild img {
  display: block;
  width: 100%;
}
.card {
  text-align: center;
  margin: 16px;
  border-radius: 5px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  overflow: hidden; /*macht, dass das Bild auch runde Ecken bekommt*/
}

.text {
  margin: 16px;
}
/*h2 soll zentriert stehen*/
#rezepte {
  text-align: center;
}

aside {
  background-color: #04122b;
  color: white;
  text-align: center;
  padding: 32px;
}

/*nimmt den Farbwechsel beim Darüberfahren wieder weg*/
#email:hover,
#abonnieren:hover {
  background: white;
  color: #374a67;
}

#email {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

#abonnieren {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

/*input und button haben display inline, deshalb 4px Abstand zwischen beiden Feldern*/
form {
  display: flex;
  justify-content: center;
}
/*Logos bleiben immer nebeneinander*/
.social-media ul {
  display: flex;
  font-size: 2rem;
}
/*hier rede ich nur mit dem großen Bildschirm  / Fallunterscheidung für Handy und PC heißt media query (ist eine Medienanfrage für responsibles Webdesign*/
@media (min-width: 960px) {
  header button {
    display: none;
  }
  nav {
    display: block;
  }

  .row {
    display: flex;
  } /*Karten stehen nebeneinander*/

  /*Listitems nebeneinander stellen auf großem Bildschirm*/

  ul {
    display: flex;
  }
  h1 {
    font-size: 3rem
      /*3 x 16 pixel = 48px  // Ansage ist: sei dreimal so groß wie Schrift auf kleinem Bildschirm REM ist die Abkürzung für root M (root = Wurzel; M = der Buchstabe M)*/;
  }
  footer {
    display: flex;
    justify-content: space-between;
    height: 200px;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
  }
}
